

<div class="container">
  <form class="example-form" [formGroup]="loginForm" (ngSubmit)="onFormSubmit">
     
      <h2>Start Messaging</h2>

      <mat-form-field class="example-full-width">
        <mat-label>Nickname</mat-label>
        <input autocomplete="off" matInput placeholder="Enter your nickname" formControlName="nickname"
                [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!loginForm.valid">Please enter your nickname</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-widthp">
        <mat-label>Password</mat-label>
        <input  class="inputp" autocomplete="off" matInput placeholder="Enter your Password" formControlName="nickname"
                [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!loginForm.valid">Please enter your password</span>
        </mat-error>
      </mat-form-field>

      <div >
          <button class="button" type="button" [disabled]="!loginForm.valid">Login</button>
      </div>
  </form>
</div>
